<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-button (click)="buttonMenu()" matTooltip="Menu" matToolTipPosition="below"><mat-icon>menu</mat-icon></button>
      <button mat-button class="menu" >Material</button>
      <button mat-button class="menu" >Components</button>
      <button mat-button class="menu" >CDK</button>
      <button mat-button class="menu" >Guides</button>
      <button mat-button class="menu" matTooltip="Select a theme!" matToolTipPosition="below"><mat-icon>format_color_fill</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>