<mat-drawer-container class="example-container" autosize>
  <app-toolbar-menu (onOff)="onOff()"></app-toolbar-menu>
  <mat-drawer [opened]="test" class="example-sidenav" mode="side">
    <app-tree-sidenav></app-tree-sidenav>
  </mat-drawer>

  <div class="example-sidenav-content">
  </div>

</mat-drawer-container>